.InputMessageAndSendButtonContainer {
    width: 100%;
    height: calc(15% - 2 * 5px);
    background-color: red;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.InputMessageAndSendButtonContainer input {
    height: 70%;
    width: 70%;
    border: none;
    outline: none;
    font-size: 1.1em;
    padding: 2px 3px;
}

.InputMessageAndSendButtonContainer button {
    height: 70%;
    width: 20%;

}
